<div class="container">
  <br><br><br><br><br><br>

  <div class="search_box">
    <div class="row">
      <div class='col-sm-5 col-md-offset-3'>
        <h1 class="main-text" data-toggle="tooltip">Room Booking</h1>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-5 col-md-offset-3'>
        <div class="form-group">
          <form action='/search' method='post' id='search'>
            <div class='input-group date' id='datetimepicker1'>
              <%= tag(:input, :type => "text", :placeholder => "2015/05/01", :name => "query", :class => "form-control form-input") %> 
              <span class="input-group-addon" >
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {

    $('#datetimepicker1').datepicker({
      format: "yyyy/mm/dd"
    }).on('changeDate', function(e){
      $(this).datepicker('hide');
      $("#search").submit();
    });

  });
</script>