<div class="container">
  <div class="search_box row">

    <div class="row">
      <div class='col-sm-5 col-md-offset-4 base-color'>
        <h1 class="main-text">Room Booking</h1>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-5 col-md-offset-4'>
        <div class="form-group">
          <form action='/search' method='post' id='search'>
            <div class='input-group date' id='datetimepicker1'>
            <%= tag(:input, :type => "text", :placeholder => "2015/05/01", :name => "query", :class => "form-control form-input") %> 
              <span class="input-group-addon" >
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-5 col-md-offset-4' style="display:flex;">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="filter" id="filter" class="form-control" placeholder="Filter Room">
          </div>
        </div>

        <div class="form-group col-sm-5">
          <label class="checkbox-inline"><input type="checkbox" id="available_now" style="width: 30px;height: 30px;" value="">&nbsp;&nbsp;&nbsp;<span style="position:relative;top:12px">Available Now</span></label>
        </div>

      </div>
    </div>

  </div>

  <% @resp.each_with_index do |room,index|%>

    <div class="row room" id=<%= "room_#{index}"%> >

      <div class="col-sm-12 ">
        <%= render :partial => "partial/room_info", :locals => {:room => room, :index => index } %>
      </div>
      <%
        @available_time = []
        room['avail'].each do |time|

          from, to = time.split("-")

          from = from.split(":")
          from = (from[0].to_i - 7) * 4 + from[1].to_i/15

          to = to.split(":")
          to = ( to[0].to_i - 7 )* 4 + to[1].to_i/15

          @available_time += Array(from..to)

        end
      %>


    <%= render :partial => "partial/room_time", :locals => {:available_time => @available_time, :index => index } %>
    </div>

  <%end%>


    <div class="row footer">
      <div class='col-sm-5 col-md-offset-4' style="text-align:center;">
        @1aim
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title" id="myModalLabel" style="font-weight:bold">
                    Add Participant
                </h2>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <small style="float:right">All fields required</small>
                <form role="form" id="participant_form">
                  <div class="form-group">
                    <label for="email">Email address</label>
                      <input type="email" class="form-control"
                      id="email" placeholder="Participant Email" required/>
                  </div>
                  <div class="form-group">
                    <label for="participant name">Name</label>
                      <input type="text" class="form-control"
                          id="name" placeholder="Participant Name" required/>
                  </div>
                  <div class="form-group">
                    <label for="participant phone">Phone</label>
                      <input type="text" class="form-control"
                          id="phone" placeholder="Participant Phone" required/>
                  </div>
                  <button type="submit" class="btn btn-custom submit_participant">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

  <script>

    var slider_count = "<%= @resp.count %>";
    var date = "<%= @date %>";

</script>
