<select class="form-control" >
  <option value="" selected disabled>Start Time</option>
  <% Array(0..47).each do |item|%>
    <% if available_time.include? item %>
      <option value="<%= "#{num_to_time(item)}"%>" data-id="<%= "#{item}"%>">
        <%= "#{num_to_time(item)}"%>
      </option>
    <% else %>
      <option disabled><%= "#{num_to_time(item)}"%></option>
    <% end %>
  <% end %>
</select>