<div class="col-sm-12 col-md-offset-2">
  <span><small>7:00</small></span>
  <span><small>8:00</small></span>
  <span><small>9:00</small></span>
  <span><small>10:00</small></span>
  <span><small>11:00</small></span>
  <span><small>12:00</small></span>
  <span><small>13:00</small></span>
  <span><small>14:00</small></span>
  <span><small>15:00</small></span>
  <span><small>16:00</small></span>
  <span><small>17:00</small></span>
  <span><small>18:00</small></span>
  <span><small>19:00</small></span>
</div>
<div class="col-sm-12">
<!--
  <div class="col-sm-2">
    <span> &nbsp;&nbsp; &nbsp;<b>Available Time</b></span><br/>          
  </div>
-->
  <div class="col-sm-8  col-md-offset-2" style="display:flex;" id='<%= "timeline_#{index}"%>' data-room-index='<%= "#{index}"%>'>

    <% Array(1..48).each do |item|%>

      <%  if available_time.include? item 
            @color = 'background:#00A0DB;'
            @avail = true
            @title = "Available"
          else
            @color = "background:red;"
            @avail = false
            @title = "Booked"
          end
      %>

      <% if item%4 == 1 %>
        <% @color += "margin-left:1px;" %>
        <div id='<%= "#{item}"%>' class="timeline" data-hour='<%= "#{get_hour(item)}"%>' data-value='<%= "#{num_to_time(item)}"%>' data-index='<%= item %>' data-avail='<%= "#{@avail}"%>' style=<%= "#{@color}" %> data-toggle="tooltip" data-placement="top" data-html="true" title=<%= "#{@title} "%> ></div>
      <% else %>
        <div id='<%= "#{item}"%>' class="timeline" data-hour='<%= "#{get_hour(item)}"%>' data-value='<%= "#{num_to_time(item)}" %>' data-index='<%= item %>' data-avail='<%= "#{@avail}"%>' style=<%= "#{@color}" %> data-toggle="tooltip" data-placement="top" data-html="true" title=<%= "#{@title} "%> > </div>
      <% end %>
    <%end%>
  </div>
</div>