<div class="col-sm-12">
  <div class="col-sm-5">
    <h2>Room <%= room['name'] %></h2>
    <span><b>Location</b>: <%= room['location'] %></span><br/>
    <span><b>Size</b>: <%= room['size'] %></span><br/>
    <span><b>Capacity</b>: <%= room['capacity']%></span><br/>
    <span><b>Equipment</b>: <%= room['equipment'].join(",")%> </span><br/>
  </div>

  <div id="slider1" data-room-index='<%= "#{index}"%>' class='<%= "col-sm-6 slider_#{index}"%>' style="margin-top:20px;">
    <a class="buttons prev" href="#">&#60;</a>
    <div class="viewport">
      <ul class="overview">
        <% if room['images'].kind_of?(Array) %>
          <% room['images'].each do |image|%>
            <li><img src=<%= "https://challenges.1aim.com/roombooking/#{image}"  %> style="width:100%;height:100%;" /></li>
          <%end%>
        <% else %>
          <% room['images'].each_value do |image|%>
            <li><img src=<%= "https://challenges.1aim.com/roombooking/#{image}"  %> style="width:100%;height:100%;" /></li>
          <%end%>
        <%end%>
      </ul>
    </div>
    <a class="buttons next" href="#">&#62;</a>
  </div>

  <div class="col-sm-1">
    <button type="button" data-room-index='<%= "#{index}"%>' class="btn btn-custom btn-xs book_now">Book Now</button>
  </div>

</div>