.custom-container {
  background-color: #F8F8F8;
}

.room {
  padding: 30px;
  background: white;
  border: 1px solid #E8E8E8;
}

.timeline {
  width:16px;
  height:16px;
  padding-top:16px;
  font-size: 11px;
  cursor: pointer;

}

.booking {
  padding: 30px;
  background: white;
  border: 1px solid #E8E8E8;  
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

option.hover { 
  background-color: #00A0DB !important;
}
body {
}
.main-text {
  color: #00A0DB;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 48px;
  margin-left: 12px;
}

.form-input {
  height:38px !important;
}



input[type=text]:focus, textarea:focus,input[type=email]:focus {
  box-shadow: 0 0 5px #4BCEFF !important;
  border: 1px solid #00A0DB !important;
}

select:focus {
  box-shadow: 0 0 5px #4BCEFF !important;
  border: 1px solid #00A0DB !important;
}

.base-color {
  color: #00A0DB !important;
}

.btn-custom {
  color: #FFFFFF !important;  
  background-color: #00A0DB;
  border-color: #00A0DB;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: #FFFFFF !important;
  background-color: #008dc2;
  border-color: #007ba8;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #00A0DB;
  border-color: #00A0DB;
}


.search_box {
  padding: 30px;
  border: 1px solid #E8E8E8;
}
div span small {
  width: 41px;
  display: -webkit-inline-box;
  margin-left: 4px;
}
.timeline span {
  position:relative;top:12px;
}
.container {
  width: 1024px !important;
}
.footer {
  color: grey;
  padding: 10px;
}